.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: space-around;
}

.gallery img {
  width: 100%;
}

.transition-cake {
  height: 400px;
  width: 300px;
  position: relative;
  justify-self: center;
}

.transition-cake img {
  width: 100%;
  height: 100%;
}

.transition-image {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.transition-image:hover {
  opacity: 1;
}

.lesny-mech::after {
  content: 'Leśny mech';
}

.keto-torcik::after {
  content: 'Keto torcik';
}

.baton-bounty::after {
  content: 'baton Bounty';
}

.tort-urodzinowy::after {
  content: 'tort urodzinowy';
}

.dough::after {
  content: 'wyrabianie ciasta';
}

.hands::after {
  content: 'przygotowania';
}

.cake1::after {
  content: 'tort';
}

.fade::after {
  color: white;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fade:hover::after {
  opacity: 0.5;
}
