@import './_variables';
@import './_nav.scss';
@import './_cakes.scss';
@import './about';
@import './contact';
@import './home';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Georgia, serif;
}

h1 {
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $nav-background-color;
  color: white;
  text-align: center;
  display: none;
}

@media screen and (max-width: 768px) {
  .footer {
    display: block;
    position: static;
    margin-top: auto;
  }
}
